<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/fc.css" rel="stylesheet" type="text/css" />
<link href="css/fc02.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="box">
  <div class="top">
    <div class="top-left"></div>
    <div class="top-right">
      <div class="tr-top"><font class="ts"><a href="#">购物车</a></font>|　<a href="#">简体中文</a>　|　<a href="#">繁体中文</a>　|　<a href="#">English</a></div>
      
      <div class="tr-mid">
        <div class="trm-l">缅甸翡翠全球配送</div>
        <c:if test="${sessionScope.USER_IN_SESSION.username==null}">
					
					<div class="trm-r">
						<a href="/register?cmd=user"><img src="/images/fc_13.jpg" /><label
							for="button"> </label></a> 
							<a href="/register?cmd=toRegistUI"> <img
							src="/images/fc_15.jpg" /> <label for="button2"></label></a>
					</div>
					</c:if>
					<div class="trm-r">
					<c:if test="${sessionScope.USER_IN_SESSION.username!=null}">
					当前用户 :  ${sessionScope.USER_IN_SESSION.username}
					<a href="/logout">注销</a>
					</div>
					</c:if>
				</div>

      </div>
      
      <div class="tr-bottom">
      <dt><font class="tr-bottomtb"><a href="#">首页</a></font></dt>
      <dt><a href="#">华氏超市</a></dt>
      <dt><a href="#">华氏批发</a></dt>
      <dt><a href="#">经典推荐</a></dt>
      <dt>特价专区</dt>
      <dt><a href="#">翡翠课堂</a></dt>
      <dt><a href="#">华氏沙龙</a></dt>
      </div>
    </div>
  </div>
  <div class="top02">
    <div class="mk">
      <label for="textfield02"></label>
      <label for="select"></label>

      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="165"><li>所有分类</li></td>
          <td width="165"><li>所有分类</li></td>
          <td width="198"><label for="textfield02"></label>
          <input type="text" name="textfield02" class="textfield04" /></td>
          <td><img src="images/homehl_3.jpg"  onMouseOver="this.src='images/homehl_3over.jpg';" onMouseOut="this.src='images/homehl_3.jpg'" onClick="this.src='images/homehl_3click.jpg'"></td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
    
    <div class="keywords">热门搜索：<a href="#">观音</a>　<font class="yellow"><a href="#">玉佛</a></font>　<a href="#">戒指</a>　 <a href="#">生肖</a>　<a href="#">手链</a>　<a href="#">吊坠</a> 　<a href="#">手镯</a>　<font class="yellow"><a href="#">摆件</a></font>　<a href="#">貔貅</a>　</div>
  </div>
  
  
  <div class="main">
    <div class="mainunit01">
      <div class="main02leftadd">
      <h3>帮助中心</h3>
      <div class="mainunit010-l">
        <div class="ml-top05">
          <h1>如何订购</h1>
          </div>
        <dt><a href="#">网上下单</a></dt>
        <dt><a href="#">电话订购</a></dt>
         <dt>传真订购</dt>
      </div>
      <div class="mainunit010-l">
        <div class="ml-top05">
          <h1>全球配送</h1>
          </div>
        <dt>配送时间</dt>
        <dt>配送范围</dt>
      </div>
      <div class="mainunit010-l">
        <div class="ml-top05">
          <h1>支付方式</h1>
          </div>
        <dt><a href="#">在线支付</a></dt>
        <dt><a href="#">银行汇款</a></dt>
        <dt><a href="#">邮局汇款</a></dt>
      </div>
      <div class="mainunit010-l">
        <div class="ml-top05">
          <h1>我的订单</h1>
          </div>
        <dt><a href="#">我的账户自助服务</a></dt>
        <dt><a href="#">我的账户管理</a></dt>

      </div>
      <div class="mainunit010-l">
        <div class="ml-top05">
          <h1>售后服务</h1>
          </div>
        <dt><a href="#">退换货流程</a></dt>
        <dt><a href="#">服务承诺</a></dt>

      </div>
      </div>
      <div class="main02right">
      <div class="listtitle04">　售后服务　</div> 
       
      
      <div class="passage">
        <p><span class="passagetitle">一、 手机类</span><br />
          a) 橡果国际负责七日内有质量问题退货，但需根据各品牌要求由厂家开具故障检测报告。<br />
          b) 根据厂家服务能力，由厂家或橡果国际负责十五日内有质量问题换货，但需根据各品牌要求由厂家开具故障检测报告。<br />
          c) 各品牌厂家实行全国联保，负责一年之内故障机的保修、维修及收费维修。<br />
          d) 各品牌厂家负责一年以上故障机的收费维修。<br />
          e) 橡果国际负责协调由于厂家服务造成的客户投诉。<br />
          <span class="passagetitle">二、 数码类</span><br />
          a) 橡果国际负责七日内有质量问题退货，但需根据各品牌要求由厂家开具故障检测报告。<br />
          b) 根据厂家服务能力，由厂家或橡果国际负责十五日内有质量问题换货，但需根据各品牌要求由厂家开具故障检测报告。<br />
          c) 各品牌厂家负责一年之内故障机的保修、维修及收费维修，必要时橡果国际可代接收，转送厂家维修。<br />
          d) 各品牌厂家负责一年以上故障机的收费维修。<br />
          e) 橡果国际负责协调由于厂家服务造成的客户投诉。
  <br />
          <span class="passagetitle">三、 饰品类</span><br />
          a) 橡果国际负责七日内有质量问题退货，质量检测由橡果国际完成。<br />
          b) 在商品未使用情况下，橡果国际负责七日内由于型号错误造成的产品调换。<br />
          c) 饰品类商品，一经售出，无质量或型号问题，不做退、换货处理。<br />
          d) 售出商品在条件允许的情况下，厂家负责免费或收费维修。<br />
          <span class="passagetitle">四、 美容类</span><br />
          a) 橡果国际负责七日内由于运输、包装等质量问题退货，质量检测由橡果国际完成。
  <br />
          b) 橡果国际负责七日内由于运输、包装等质量问题换货，质量检测由橡果国际完成。<br />
          c) 橡果国际负责按商品售出承诺，办理承诺日期内的不满意退货，具体规则以橡果国际制定为准。<br />
          <span class="passagetitle">五、 手表类</span>
  <br />
          a) 在商品未开封使用情况下，橡果国际负责三日内由于型号错误造成的商品调换。<br />
          b) 橡果国际负责七日内有质量问题退货，质量检测由<br />
          c) 饰品类商品，一经售出，无质量或型号问题，不做退、换货处理。<br />
          d) 售出商品在条件允许的情况下，厂家负责免费或收费维修。厂家完成。<br />
          e) 饰品类商品，一经售出，无质量或型号问题，不做退、换货处理。<br />
          f) 售出商品在条件允许的情况下，厂家负责免费或收费维修。<br />
         </p>
        <p> g) 饰品类商品，一经售出，无质量或型号问题，不做退、换货处理。<br />
          h) 售出商品在条件允许的情况下，厂家负责免费或收费维修。</p>
      </div>
      </div>
    </div>
    <div class="kfzx">
       <div class="kf01">
         <div class="kf01s">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td width="46"><img src="images/fc_111.jpg" height="59" alt="" /></td>
               <td>在线MSN：<img src="images/fc_108.jpg" width="73" height="17" alt="" /><br />
                 在线QQ： <img src="images/fc_117.jpg" width="73" height="21" alt="" /><br />
                 在线客服：<img src="images/fc_127.jpg" width="77" height="18" alt="" /></td>
             </tr>
           </table>
         </div>
         
         <div class="tel02">
         <li>客服电话<font class="green">：0692-4118235</font></li>
         <li>手机短信：<font class="orange">13099491279</font></li>
         <li>CEO信箱：pxsilling@vip.qq.com</li>
         </div>
       </div>
       
       <div class="kf02"><img src="images/fc_93.jpg" width="109" height="45" alt="" /><br />
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>

       </div>
       <div class="kf02"><img src="images/fc_95.jpg" width="121" height="45" alt="" /><br />
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>

       </div>
       <div class="kf02"><img src="images/fc_97.jpg" width="124" height="45" alt="" /><br />
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>

       </div>
       <div class="kf02"><img src="images/fc_99.jpg" width="129" height="45" alt="" /><br />
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>

       </div>
       <div class="kf03"><img src="images/fc_101.jpg" width="119" height="45" alt="" /><br />
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>
<li><a href="#">网上下单</a></li>

       </div>
     </div>
    <div class="mainbottom">
      <dt><a href="#">关于华氏</a>　|  　<a href="#">工作机会</a>　|  　<a href="#">联系我们</a>　|  　<a href="#">推荐产品</a>　|  　<a href="#">网站声明</a>　|  　<a href="#"> 隐私权政策</a>　|  　<a href="#">合作伙伴</a></dt>
     <dd>Copyright 2008-2009 www.chinadrtv.com All Rights Reserved
     华氏珠宝版权所有<br />
ICP证:沪ICP备05041682号
增值电信业务经营许可证　编号：B2-20050374</dd>    </div>
  </div>
</div>
</body>
</html>
