@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	background-image: url(../images/fc_2.jpg);
	background-repeat: repeat-x;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#box {
	width: 951px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.top {
	height: 105px;
}
.top-left {
	float: left;
	height: 105px;
	width: 230px;
	background-image: url(../images/fc_4.jpg);
	background-repeat: no-repeat;
}
.top-right {
	float: left;
	width: 720px;
	height: 105px;
}
.tr-top {
	height: 30px;
	padding-top: 10px;
	color: #DCDEDB;
	text-align: right;
	padding-right: 25px;
	width: 280px;
	padding-left: 390px;
	line-height: 19px;
}
.tr-mid {
	height: 21px;
	padding-bottom: 9px;
}
.tr-bottom {
	height: 35px;
	background-image: url(../images/qiqi_19.jpg);
	background-repeat: no-repeat;
	line-height: 35px;
	color: #528365;
}
.tr-top a:link {
	color: #356C4E;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.ts {
	width: 60px;
	height: 19px;
	color: #823604;
	background-image: url(../images/fc_9.jpg);
	background-repeat: no-repeat;
	display: block;
	float: left;
	line-height: 19px;
	background-position: left center;
	clear: right;

}
.trm-l {
	float: left;
	width: 540px;
	line-height: 21px;
	color: #003300;
	font-size: 14px;
	text-indent: 10px;
}
.trm-r {
	float: left;
	width: 150px;
	line-height: 21px;
}
.button {
	height: 21px;
	width: 57px;
	background-image: url(../images/fc_13.jpg);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-right: 8px;
}
.buttonover {
	height: 21px;
	width: 57px;
	background-image: url(../images/fc_13over.jpg);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-right: 8px;
}
.button2 {
	height: 21px;
	width: 57px;
	background-image: url(../images/fc_15.jpg);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.button2over {
	height: 21px;
	width: 57px;
	background-image: url(../images/fc_15.jpg);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.tr-bottom dt {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 95px;
	display: block;
	text-align: center;
	background-image: url(../images/menubg.jpg);
	background-repeat: no-repeat;
	height: 35px;
}
.tr-bottomtb {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 95px;
	display: block;
	text-align: center;
	background-image: url(../images/fc_19.jpg);
	background-repeat: no-repeat;
	height: 35px;
	color: #FFFFFF;
}.top02 {
	height: 67px;
	width: 873px;
	background-image: url(../images/fc_28_2.jpg);
	background-repeat: repeat;
	padding-left: 78px;
}
.tr-top a:visited {
	color: #3A7655;
	text-decoration: none;
}
.tr-top a:hover {
	color: #009900;
	text-decoration: underline;
}
.ts a:link {
	color: #823604;
	text-decoration: none;
}
.ts a:visited {
	color: #663300;
	text-decoration: none;
}
.ts a:hover {
	color: #FF3300;
	text-decoration: underline;
}
.main {
	width: 951px;
	padding-top: 8px;
}
.mainunit01 {
	width: 951px;
	float: left;
	height: auto;
}

.mainunit01-l {
	border: 1px solid #69BC3D;
	float: left;
	width: 227px;
}
.mainunit010-l {
	float: left;
	width: 227px;
	margin-bottom: 6px;
}
.ml-top {
	background-image: url(../images/fc_35.jpg);
	background-repeat: repeat-x;
	height: 27px;
	line-height: 27px;
	text-indent: 6px;
	color: #026424;
}
.ml-top05 {
	background-repeat: repeat-x;
	height: 30px;
	line-height: 30px;
	text-indent: 6px;
	color: #026424;
	background-color: #D0E9C2;
}
.ml-top05 h1 {
	font-size: 14px;
	font-weight: bold;
	float: left;
	width: 130px;
	display: block;
	height: 30px;
	background-image: url(../images/gwc_3.jpg);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 25px;
	line-height: 30px;
}
.ml-top h1 {
	font-size: 12px;
	font-weight: bold;
	float: left;
	width: 130px;
	display: block;
	height: 27px;
}
.ml-top h2 {
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	color: #FFFFFF;
	font-family: "宋体";
}
.ml-top h2 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.ml-top h2 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.ml-top h2 a:hover {
	color: #E2F3D3;
	text-decoration: none;
}
.ml-top05 h2 {
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	color: #FFFFFF;
	font-family: "宋体";
}
.ml-top05 h2 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.ml-top05 h2 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.ml-top05 h2 a:hover {
	color: #E2F3D3;
	text-decoration: none;
}
.mainunit01-l dt {
	height: 27px;
	line-height: 27px;
	background-color: #F8FCED;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF8D5;
	text-indent: 15px;
	color: #40A925;
	display: block;
	width: 226px;
	float: left;
}
.mainunit01-l dt a:link{
	color: #1B720C;
}
.mainunit01-l dt a:visited{
	color: #1B720C;
}
.mainunit01-l dt a:hover{
	color: #54B430;
	text-decoration: none;
	background-color: #FFFFFF;
	display: block;
}
.mainunit010-l dt {
	height: 27px;
	line-height: 29px;
	background-color: #EEF7E8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF8D5;
	text-indent: 40px;
	color: #545451;
	display: block;
	width: 226px;
	float: left;
	background-image: url(../images/gwcf_18.jpg);
	background-repeat: repeat-x;
	background-position: left;
}
.mainunit010-l dt a:link{
	color: #545451;
}
.mainunit010-l dt a:visited{
	color: #545451;
}
.mainunit010-l dt a:hover{
	color: #35721F;
	text-decoration: none;
	display: block;
	background-image: url(../images/gwcf_18over.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.mainunit01-l dd{
	height: 26px;
	line-height: 26px;
	text-indent: 15px;
	width: 226px;
	display: block;
	list-style-type: none;
	float: left;
	color: #333333;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F2E3;
}
.mainunit01-l dd a:link{
	color: #333333;
}
.mainunit01-l dd a:visited{
	color: #333333;
}
.mainunit01-l dd a:hover{
	color: #54B430;
	text-decoration: none;
	background-color: #FFFFFF;
	display: block;
}
.mainunit01-mid {
	float: left;
	width: 403px;
	margin-left: 10px;
	margin-right: 10px;
}
.mainunitright {
	float: left;
	height: auto;
	width: 292px;
}
.uint01mid-top {
	height: 216px;
	background-image: url(../images/fc_32.jpg);
	background-repeat: no-repeat;
	margin-bottom: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 6px;
	padding-left: 6px;
}
.unit01b-top {
	background-image: url(../images/fc_48.jpg);
	background-repeat: repeat-x;
	height: 26px;
	line-height: 26px;
	text-indent: 6px;
}
.unit01b-top h1 {
	font-size: 12px;
	color: #257A25;
	font-weight: bold;
	width: 190px;
	display: block;
	float: left;
}
.unit01b-top h2 {
	font-size: 12px;
	font-weight: normal;
	width: 120px;
	display: block;
	height: 27px;
	float: right;
	text-align: right;
	padding-right: 8px;
	color: #999999;
}
.unit01-main dt {
	line-height: 24px;
	color: #202020;
	list-style-type: none;
	background-image: url(../images/lli_3.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
}
.unit01-main dd{
	line-height: 24px;
	color: #FA730A;
	list-style-type: none;
	float: right;
}
.unit01-main {
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
.unit01rtop {
	border: 1px solid #FCAC17;
}
.rrr-top {
	background-image: url(../images/fc_38.jpg);
	background-repeat: repeat-x;
	line-height: 28px;
	height: 28px;
	color: #663300;
}
.rrr-top h1 {
	font-size: 12px;
	font-weight: bold;
	padding-left: 8px;
	float: left;
	color: #663300;
}
.rrr-top h2 {
	float: right;
	font-weight: lighter;
	font-size: 12px;
	padding-right: 8px;
}
.rrr-cont {
	background-color: #FFFBEF;
	color: #774721;
	line-height: 25px;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	height: 150px;
}
.unit01rbottom {
	margin-top: 8px;
	border: 1px solid #A5DC78;
}
.urbtop {
	height: 30px;
	line-height: 30px;
	background-image: url(../images/fc_44.jpg);
	background-repeat: repeat-x;
}
.urbtop h1 {
	font-size: 12px;
	font-weight: bold;
	color: #127C3B;
	float: left;
	padding-left: 8px;
}
.urbtop h2 {
	font-weight: normal;
	color: #96AB87;
	font-size: 12px;
	float: right;
	padding-right: 8px;
}
.urbcont {
	height: 142px;
	padding-top: 7px;
	padding-right: 2px;
	padding-bottom: 7px;
	padding-left: 6px;
}
.leftpic {
	float: left;
	width: 63px;
}
.urrightcont {
	float: left;
	width: 209px;
	padding-left: 7px;
}
.urrightcont dt {
	list-style-position: inside;
	list-style-type: none;
	line-height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D7D7D7;
}
#pic01 {
	margin-bottom: 7px;
	margin-top: 2px;
	border: 1px solid #D9D6D6;
}
#pic02 {
	border: 1px solid #D9D6D6;
}
.mainunit02 {
	float: left;
	height: auto;
	width: 951px;
	margin-top: 7px;
}
.unit02-top {
	height: 35px;
	width: 947px;
	background-image: url(../images/fc_76.jpg);
	background-repeat: no-repeat;
}
.unit02cont {
	background-image: url(../images/fc_78.jpg);
	background-repeat: repeat-y;
	width: 947px;
	height: 368px;
	padding-top: 5px;
}
.unit02-top h1 {
	font-size: 14px;
	color: #08801F;
	line-height: 25px;
	padding-top: 10px;
	padding-left: 49px;
	float: left;
}
.unit02-top h2 {
	font-size: 12px;
	float: right;
	padding-top: 10px;
	line-height: 25px;
	color: #666666;
	padding-right: 24px;
	font-weight: normal;
}
.unit02left {
	width: 639px;
	float: left;
	height: 364px;
	padding-left: 15px;
	background-image: url(../images/yuud_3.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.picproducts {
	height: 175px;
	width: 155px;
	margin-right: 1px;
	float: left;
	margin-bottom: 8px;
	background-color: #FFFFFF;
	display: block;
}
.picproducts a:link {
	background-color: #FFFFFF;
	display: block;
}
.picproducts a:visited{
	background-color: #FFFFFF;
	display: block;
}
.picproducts a:hover{
	background-color: #F2F7EE;
	display: block;
	border-right-width: 6px;
	border-bottom-width: 4px;
	border-left-width: 6px;
}
.picproducts h1 {
	line-height: 21px;
	font-size: 12px;
	color: #2A8907;
	font-weight: normal;
	background-image: url(../images/fc_72.jpg);
	background-repeat: no-repeat;
	background-position: 6px center;
	text-indent: 17px;
	padding-top: 4px;
}
.picproducts h2 {
	font-size: 12px;
	text-decoration: line-through;
	color: #555555;
	font-weight: normal;
	text-indent: 10px;
	line-height: 19px;
}
.picproducts h3 {
	line-height: 21px;
	font-size: 12px;
	font-weight: bold;
	text-indent: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.unit02right {
	width: 260px;
	float: left;
	padding-left: 15px;
}
.unit02right img {
	background-color: #FFFFFF;
	padding: 6px;
	border: 1px solid #CCCCCC;
	margin-bottom: 6px;
}
.unit02right dt {
	line-height: 23px;
	padding-right: 10px;
	padding-left: 15px;
	color: #6B7463;
}
.green {
	color: #44920B;
	font-weight: bold;
}
.del {
	text-decoration: line-through;
}
.bold {
	font-weight: bold;
	color: #000000;
}
.orange {
	color: #FF4C00;
	font-weight: bold;
}
.botton01 {
	padding-top: 10px;
	padding-left: 15px;
}
#button3 {
	background-image: url(../images/yuud_6.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 97px;
	margin-right: 15px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#button4 {
	background-image: url(../images/yuud_8.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 97px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.unit02bottom {
	background-image: url(../images/xxy_17.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
	line-height: 0px;
}
.mainbottom {
	float: left;
	width: 951px;
	line-height: 24px;
	text-align: center;
	color: #666666;
	padding-bottom: 8px;
}
.mainbottom dt {
	width: 950px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	color: #999999;
	line-height: 27px;
	display: block;
	height: 27px;
	margin-top: 11px;
	text-align: center;
	margin-bottom: 8px;
}
.mainbottom a:link {
	color: #000000;
	text-decoration: none;
}
.mainbottom a:visited {
	color: #006600;
	text-decoration: none;
}
.mainbottom a:hover {
	color: #009900;
	text-decoration: underline;
}
.mk {
	padding-top: 9px;
	height: 29px;
	padding-left: 50px;
}

 #select01{
	background-image: url(../images/homehl_6.jpg);
	background-repeat: repeat;
	line-height: 27px;
	border: 1px solid #DADADB;
	width: 150px;
	list-style-type: none;
	color: #333333;
	font-size: 12px;
	padding-left: 6px;
	height: 27px;
	float: left;
	margin-right: 8px;
}
.textfield02,.textfield03{
	background-image: url(../images/zc_3.jpg);
	background-repeat: no-repeat;
	height: 12px;
	line-height: 12px;
	border: 1px solid #DADADB;
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 145px;
	padding-right: 5px;
}
.mk li{
	background-image: url(../images/zc_3.jpg);
	background-repeat: no-repeat;
	height: 12px;
	line-height: 12px;
	border: 1px solid #DADADB;
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 8px;
	width: 145px;
	padding-right: 5px;
	list-style-type: none;
	display: block;
	float: left;
	padding-left: 5px;
}
.textfield04{
	background-image: url(../images/homehl_6.jpg);
	background-repeat: repeat-x;
	height: 12px;
	line-height: 12px;
	border: 1px solid #DADADB;
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 180px;
}

#mainbutton {
	background-image: url(../images/homehl_3.jpg);
	background-repeat: repeat;
	height: 30px;
	width: 86px;
	float: left;
}
.keywords {
	line-height: 15px;
	color: #FFFFFF;
	padding-top: 7px;
	padding-left: 50px;
}
.yellow {
	color: #FFE50A;
}
a:link {
	color: #252525;
	text-decoration: none;
}
a:visited {
	color: #252525;
	text-decoration: none;
}
a:hover {
	color: #31A421;
	text-decoration: none;
}
.keywords a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.keywords a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.keywords a:hover {
	color: #FFE50A;
	text-decoration: underline;
}
.yellow a:link {
	color: #FFE50A;
}
.yellow a:visited {
	color: #FFE50A;
}
.yellow a:hover {
	color: #FFFF00;
	text-decoration: underline;	
}
.tr-bottom a:link {
	color: #528365;
}
.tr-bottom a:visited {
	color: #528365;
}
.tr-bottom a:hover {
	color: #4F9D20;
	background-image: url(../images/menubg02.jpg);
	background-repeat: no-repeat;
	display: block;
}
.tr-bottomtb a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.tr-bottomtb a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.tr-bottomtb a:hover {
	color: #FFFF99;
	text-decoration: none;
	background-image: url(../images/fc_19.jpg);
	background-repeat: no-repeat;
}
.trm-r img {
	margin-top: 3px;
	margin-right: 5px;
}

.unit01b-top h2 a:link {
	color: #5F9834;
}
.unit01b-top h2 a:visited {
	color: #5F9834;
}
.unit01b-top h2 a:hover {
	color: #005128;
}

.unit01-main dt a:link {
	color: #1F1F1F;
	text-decoration: none;
}
.unit01-main dt a:visited {
	color: #1F1F1F;
	text-decoration: none;
}
.unit01-main dt a:hover {
	color: #666666;
}
.unit02-top h2 a:link {
	color: #666666;
}
.urbtop a:link {
	color: #87917D;
}
.urbtop a:visited {
	color: #87917D;
}
.urbtop a:hover {
	color: #009900;
}
.rrr-top h2 a:link {
	color: #9A5114;
}
.rrr-top h2 a:visited {
	color: #663300;
}
.rrr-top h2 a:hover {
	color: #FFFFFF;
}
.unit02-top h2 a:link {
	color: #666666;
}
.unit02-top h2 a:visited {
	color: #666666;
}
.unit02-top h2 a:hover {
	color: #000000;
}
.picproducts h1 a:link {
	color: #2A8907;
}
.picproducts h1 a:visited {
	color: #2A8907;
}
.picproducts h1 a:hover {
	color: #71A602;
}
.picproducts img {
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
}
.unit02right img a:hover {
	color: #EDFCDA;
	background-color: #EBFBBF;
	border: 1px solid #33CC00;
}
#box .main .mainbottom .kfzx {
}
.kfzx {
	height: 166px;
	background-image: url(../images/db_3.jpg);
	background-repeat: no-repeat;
	margin-top: 7px;
	width: 949px;
	float: left;
}
.kf01 {
	float: left;
	width: 210px;
	padding-left: 10px;
	height: 156px;
	background-image: url(../images/fc_114.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	color: #84837F;
	padding-top: 12px;
	text-align: left;
}
.kf01s {
	height: 80px;
	line-height: 24px;
}

.tel02 {
	line-height: 24px;
	height: 60px;
}
.tel02 li {
	line-height: 20px;
	list-style-type: none;
}
.kf02 {
	float: left;
	width: 144px;
	height: 166px;
	background-image: url(../images/fc_114.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
.kf03{
	float: left;
	width: 140px;
	height: 166px;

}
.kf02 li {
	line-height: 24px;
	background-image: url(../images/fc_125.jpg);
	background-repeat: no-repeat;
	background-position: 18px center;
	text-align: left;
	list-style-type: none;
	text-indent: 30px;
}
.kf03 li {
	line-height: 24px;
	background-image: url(../images/fc_125.jpg);
	background-repeat: no-repeat;
	background-position: 18px center;
	text-align: left;
	list-style-type: none;
	text-indent: 25px;
}
.kf02 img {
	margin-bottom: 6px;
}
.kf03 img {
	margin-bottom: 6px;
}
.kf02 a:link {
	color: #663300;
}
.kf02 a:visited {
	color: #663300;
}
.kf02 a:hover {
	color: #FF6600;
}
.kf03 a:link {
	color: #663300;
}
.kf03 a:visited {
	color: #663300;
}
.kf03 a:hover {
	color: #FF6600;
}
.ganlan {
	color: #666600;
}
.kuang {
	height: auto;
	width: 708px;
	border: 1px solid #DFDFDF;
	margin-top: 8px;
	margin-bottom: 6px;
}
.ddqrtitle {
	line-height: 31px;
	background-color: #EEF7E8;
	font-size: 14px;
	font-weight: bold;
	color: #208F0A;
	text-indent: 15px;
}
.ddqrtitle h1 {
	font-size: 14px;
	font-weight: bold;
	width: 500px;
}
.ddqrtitle h2 {
	display: block;
	font-size: 12px;
	font-weight: normal;
	width: 50px;
}
.gwje {
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
}
.kuangcont {
	font-size: 12px;
	background-color: #FCFEFA;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	color: #565656;
	line-height: 28px;
}
.ganlan04 {
	color: #853703;
}
.xiugai {
	font-weight: normal;
	color: #663333;
	font-size: 12px;
	height: 19px;
	width: 55px;
	line-height: 19px;
}
.textfield04 {
	border: 1px solid #CCCCCC;
}
.tjan {
	height: 40px;
	padding-left: 260px;
	padding-top: 4px;
}
.gwqdtitle05 {
	background-image: url(../images/gwc_7.jpg);
	background-repeat: no-repeat;
	height: 35px;
	width: 705px;
	line-height: 35px;
}
.gl {
	float: left;
	width: 350px;
	padding-left: 20px;
	color: #FF0904;
	font-size: 14px;
	font-weight: bold;
}
.gr {
	width: 310px;
	float: left;
	padding-right: 10px;
	text-align: right;
	color: #815C03;
}
.tjan img {
	margin-left: 8px;
}
.listtitle04 a:link {
	color: #048333;
}
.listtitle04 a:visited {
	color: #048333;
}
.listtitle04 a:hover {
	color: #96D316;
}
.gr a:link {
	color: #663300;
}
.gr a:visited {
	color: #660000;
}
.gr a:hover {
	color: #B57951;
}
.bj {
	height: 301px;
	width: 596px;
	background-image: url(../images/help-center_3.jpg);
	background-repeat: repeat;
	margin-top: 80px;
	margin-left: 50px;
}
.main02leftadd h3 {
	line-height: 28px;
	height: 28px;
	background-image: url(../images/helpcenter02_3.jpg);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 25px;
}
.passage {
	background-image: url(../images/helppassage_3.jpg);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	line-height: 28px;
	color: #12140B;
}
.passagetitle {
	color: #049838;
	font-size: 14px;
	font-weight: bold;
}
.hyzc {
	height: 247px;
	width: 362px;
	margin-top: 36px;
	margin-left: 105px;
	background-image: url(../images/zcxx_3.jpg);
	background-repeat: no-repeat;
	padding-top: 45px;
	padding-left: 66px;
	line-height: 32px;
}
.hyzc2 {
	height: 247px;
	width: 362px;
	margin-top: 36px;
	margin-left: 105px;
	background-image: url(../images/zcxx_2.jpg);
	background-repeat: no-repeat;
	padding-top: 45px;
	padding-left: 66px;
	line-height: 32px;
}
.hszbxx {
	line-height: 25px;
}
.fkklsj {
	height: 19px;
	width: 170px;
	border: 1px solid #CCCCCC;
}
.zcdbc {
	line-height: 24px;
}
.lvse {
	color: #238C00;
}
.lvse a:link {
	color: #33CC00;
}
.lvse a:visited {
	color: #009933;
}
.lvse a:hover {
	color: #33CC00;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #33CC00;
}.sceeced {
	background-image: url(../images/succeced2_09.jpg);
	height: 315px;
	width: 556px;
	background-repeat: no-repeat;
	margin-top: 26px;
	margin-left: 52px;
	padding-left: 50px;
}
.sceeced01 {
	background-image: url(../images/succeced_03.jpg);
	background-repeat: no-repeat;
	height: 41px;
	width: 241px;
	margin-top: 22px;
	font-size: 14px;
	line-height: 41px;
	font-weight: bold;
	color: #FF0000;
	text-align: center;
}
.sc002 {
	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 24px;
	font-size: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	width: 500px;
}
.sceeced dt {
	font-size: 12px;
	line-height: 28px;
	color: #999999;
	background-image: url(../images/succeced_07.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
.sc03 {
	font-size: 14px;
	font-weight: bold;
	color: #009900;
	line-height: 35px;
	text-align: right;
	width: 400px;
}
