@charset "utf-8";
.main02right {
	float: left;
	width: 710px;
	padding-left: 12px;
}
.main02right0 {
	float: left;
	width: 710px;
	padding-left: 12px;
}
.m02r-top {
	height: 26px;
	line-height: 26px;
	background-image: url(../images/fc02_3.jpg);
	background-repeat: repeat-x;
	padding-left: 10px;
	padding-right: 10px;
	color: #000000;
	font-family: "宋体";
}
.orange03 {
	color: #FF3300;
}
.m02r-mid {
	color: #5C6A53;
	line-height: 27px;
	font-family: "宋体";
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}
.m02r-mid a:link {
    color: #5C6A53;
}
.m02r-mid a:visited {
    color: #5C6A53;
}
.m02r-mid a:hover {
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.m06r-mid {
	color: #5C6A53;
	line-height: 27px;
	font-family: "宋体";
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 16px;
	background-image: url(../images/fckt_3.jpg);
	background-repeat: repeat-x;
	height: 214px;
}

.green02 {
	color: #30940E;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.listtitle {
	line-height: 20px;
	background-image: url(../images/fc02_11.jpg);
	background-repeat: repeat-x;
	border: 1px solid #C4DFBC;
	padding-right: 10px;
	padding-left: 10px;
	color: #28411A;
	height: 20px;
	padding-top: 6px;
	padding-bottom: 7px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.listtitle04 {
	line-height: 20px;
	background-image: url(../images/fc02_11.jpg);
	background-repeat: repeat-x;
	border: 1px solid #C4DFBC;
	padding-right: 10px;
	padding-left: 10px;
	color: #048333;
	height: 20px;
	padding-top: 6px;
	padding-bottom: 7px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
}
#select02 {
	width: 150px;
	line-height: 18px;
	height: 18px;
	margin-right: 4px;
	border: 1px solid #CCCCCC;
}
.rtitle-l {
	float: left;
	width: 250px;
}
.rtitle-r {
	clear: none;
	float: right;
	width: 220px;
}
.rtitle-r dt {
	float: left;
	display: block;
	height: 18px;
	width: 18px;
	list-style-type: none;
	text-align: center;
	margin-right: 3px;
	background-color: #FCFFFF;
	border: 1px solid #DAE4D6;
	line-height: 18px;
}
.rtitle-r dd {
	float: left;
	height: 18px;
	width: auto;
	margin-right: 4px;
	margin-left: 4px;
}
.rtitle-r p {
	float: left;
	height: 18px;
	width: 54px;
	margin-left: 4px;
	clear: right;
}
.rtitle-r dt a:link {
	color: #355623;
}.rtitle-r a:visited {
	color: #28411A;
}
.rtitle-r dt a:hover {
	color: #FFFFFF;
	display: block;
	height: 18px;
	width: 18px;
	background-color: #ABD898;
	font-weight: bold;
}
.listunitpic {
	margin-top: 15px;
	margin-right: 18px;
	margin-bottom: 15px;
	float: left;
	margin-left: 7px;
}
.listunit dl {
	width: 509px;
	padding-top: 10px;
	color: #636363;
	display: block;
	float: left;
	height: 130px;
}
.listunit h1 {
	font-size: 14px;
	font-weight: bold;
	color: #197838;
	line-height: 26px;
}
.listunit dt {
	line-height: 24px;
	background-image: url(../images/fc02_29.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 14px;
}
.black {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
}
.orange08 {
	font-size: 14px;
	font-weight: bold;
	color: #FF5C09;
	font-family: "Courier New", Courier, monospace;
}
.bottonunit {
	float: right;
	clear: left;
	height: 30px;
	width: 200px;
}
.bottonunit02 {
	float: right;
	clear: left;
	height: 30px;
	width: 60px;
	padding-top: 6px;
}
.bottonunit img {
	margin-right: 14px;
}
.listunit {
	height: 150px;
	width: 708px;
	background-image: url(../images/fc02_45.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
}


.listunit a:hover {
	background-image: url(../images/fc02_4500.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #F9F9F9;
	display: block;
	height: 150px;
	width: 708px;
}
.listunit h1 a:link {
	color: #197838;
}
.listunit h1 a:visited {
	color: #197838;
}
.listunit h1 a:hover {
	color: #79A200;
}
.listunit dt a:link {
	color: #636363;
}
.listunit dt a:visited {
	color: #454545;
}
.main02leftadd {
	float: left;
	width: 229px;
}
.woman{
	float: left;
	width: 119px;
	padding-left: 41px;
	height: 190px;
	padding-top: 12px;
}
.green02 a:link {
	color: #30940E;
}
.green02 a:visited {
	color: #30940E;
}
.green02 a:hover {
	color: #FD6804;
}
.productshow {
	height: auto;
	width: 708px;
	margin-top: 8px;
}
.productshow img {
	padding: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
 .subpicshow {
	height: 85px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	width: 708px;
}
.subpicshow img {
	float: right;
	padding: 4px;
	margin-left: 8px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.price {
	height: 38px;
	line-height: 38px;
	background-color: #ECF4E5;
	text-indent: 10px;
	margin-top: 6px;
	font-size: 14px;
	color: #417834;
	font-weight: bold;
	margin-bottom: 8px;
}
.ri03anniu {
	float: right;
	width: 100px;
}
.price h1 {
	float: left;
	font-size: 14px;
	width: 360px;
}
.price h2 {
	float: right;
	width: 200px;
	font-size: 14px;
}
.price img {
	padding-top: 6px;
	padding-right: 10px;
}
.productshowtitle01 {
	height: 28px;
	line-height: 28px;
	text-indent: 14px;
	font-size: 14px;
	color: #238E0D;
	font-weight: bold;
	background-image: url(../images/fc03_23.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-bottom: 8px;
}
.tableleft {
	background-color: #EFF6EB;
	line-height: 28px;
	text-align: center;
}
.tablefont {
	color: #020600;
	line-height: 28px;
	padding-left: 20px;
}
.tablefont02 {
	color: #2D7207;
	line-height: 28px;
	padding-left: 20px;
	background-color: #FBFDF0;
}
.lc {
	height: 58px;
	width: 590px;
	background-image: url(../images/fc03_29.jpg);
	background-repeat: no-repeat;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 28px;
	padding-left: 85px;
}
.pl {
	background-color: #FBFEF5;
	height: 224px;
	width: 642px;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.pltitle {
	line-height: 28px;
}
.pltitle h1 {
	font-size: 12px;
	font-weight: normal;
	float: left;
	width: 120px;
}
.pltitle h2 {
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.plcont {
	clear: both;
	line-height: 32px;
}
.textfieldpl {
	height: 18px;
	width: 100px;
	background-color: #ECEDE5;
	border: 1px solid #CCCCCC;
}
.textareapl {
	border: 1px solid #CCCCCC;
}
.ok img {
}
.ok {
	float: right;
	width: 600px;
	text-align: right;
}
.ok img {
	margin-left: 150px;
}
.pltitle h2 a:link {
	color: #FF0000;
}
.pltitle h2 a:visited {
	color: #FF0000;
}
.pltitle h2 a:hover {
	color: #FF6600;
	text-decoration: underline;
}
.lc img {
	float: left;
	margin-right: 12px;
}
.fckt-l {
	height: 200px;
	width: 300px;
	float: left;
}
.fckt-r {
	height: 210px;
	width: 368px;
	float: left;
	padding-left: 10px;
}
.fckt-l img {
	background-color: #FFFFFF;
	padding: 4px;
	border: 1px solid #CCCCCC;
}

.fckt-r h1 {
	font-size: 14px;
	color: #086825;
}
.fckt-r h2 {
	font-size: 12px;
	color: #9C9E9C;
	font-weight: normal;
}
.fckt-r ul {
	line-height: 25px;
	color: #504F4F;
}
.more {
	float: right;
	width: 100px;
	color: #FF3300;
	line-height: 20px;
	height: 20px;
}
.more a:link {
	color: #FF3300;
}
.more a:visited {
	color: #FF3300;
}
.more a:hover {
	color: #FF9900;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF9900;
	line-height: 20px;
}
.main02right dl {
	float: left;
	width: 485px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
}
.main02right0 dl {
	float: left;
	width: 594px;
	padding-left: 4px;
}
.ktlist dt {
	width: 610px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #333333;
	background-image: url(../images/fckt_7.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-left: 4px;
}
.ktlist dd {
	float: right;
	color: #999999;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background-image: url(../images/fckt_7.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 84px;
}
.ktlist {
	width: 698px;
}
.ktlist dt a:link {
	color: #333333;
}
.ktlist dt a:visited {
	color: #333333;
}
.ktlist dt a:hover {
	color: #339933;
}
