<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Hessian Service</display-name>

    <servlet>
        <servlet-name>hessian-service</servlet-name>
        <servlet-class>
            com.caucho.hessian.server.HessianServlet
        </servlet-class>
        <init-param>
            <param-name>home-class</param-name>
            <param-value>
                <!-- 服务实现类 -->
                me.qinchao.hessian.service.impl.HessianServiceImpl
            </param-value>
        </init-param>

        <init-param>
            <param-name>home-api</param-name>
            <!-- 服务接口 -->
            <param-value>me.qinchao.hessian.service.HessianService</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>hessian-service</servlet-name>
        <url-pattern>/hessian</url-pattern>
    </servlet-mapping>
</web-app>
