<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	  http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


	<import resource="classpath:daos.xml" />
	<import resource="classpath:services.xml" />


	<import resource="classpath:actions.xml" />

	<!-- 加载连接信息的properties文件 -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 创建datasource,因为hibernate在spring里面也是用的datasource连接数据库 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 配置SessionFactroy -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<!-- <value> hibernate.dialect=org.hibernate.dialect.MySQL5Dialect hibernate.show_sql=true 
				hibernate.hbm2ddl.auto=update </value> -->
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
				<!-- 指定数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<!-- 根据需要自动创建数据库 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>me/qinchao/domain/City.hbm.xml</value>
				<value>me/qinchao/domain/CompanyType.hbm.xml</value>
				<value>me/qinchao/domain/Company.hbm.xml</value>
				<value>me/qinchao/domain/Trade.hbm.xml</value>
				<value>me/qinchao/domain/SalaryLevel.hbm.xml</value>
				<value>me/qinchao/domain/JobApply.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置hibernate的事务管理器,class是要变化的，取决于你所用的持久化技术 -->
	<bean id="transcationManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 开启声明式事务管理 -->
	<tx:annotation-driven transaction-manager="transcationManager" 
		/> 
</beans>