{extend name="base" /}

{block name="title"}{$blog.title}{/block}

{block name="beforehead"}

<script>
var blog_id = "{$blog.id}";
var comment_url = '/public/?s=/api/comments/';
$(function () {
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        $form.showFormError('');
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, { blog_id:blog_id, content: content }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>

{/block}

{block name="content"}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2>{$blog.title}</h2>
            <p class="uk-article-meta">发表于{$blog.created_at|date="Y-m-d H:i:s",###}</p>
            <p>{$blog.content}</p>
        </article>

        <hr class="uk-article-divider">

        {notempty name="$Think.session.current_user"}
        <h3>发表评论</h3>

        <article class="uk-comment">
            <header class="uk-comment-header">
                    
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{$Think.session.current_user.image ? $Think.session.current_user.image : '/public/static/img/user.png'}">

                <h4 class="uk-comment-title">{$Think.session.current_user.username}</h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">
        {/notempty}

        <h3>最新评论</h3>

        <ul class="uk-comment-list">
            {empty name="comments"}
                <p>还没有人评论...</p>
            {else /}
                {foreach $comments as $comment}
                <li>
                    <article class="uk-comment">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{$comment.user_image ? $comment.user_image : '/public/static/img/user.png'}">

                            <h4 class="uk-comment-title">{$comment.user_name} {$comment.user_id==$blog.user_id ? '(作者)' : ''}</h4>
                            <p class="uk-comment-meta">{$comment.created_at|date="Y-m-d H:i:s",###}</p>
                        </header>
                        <div class="uk-comment-body">
                            {$comment.content}
                        </div>
                    </article>
                </li>
                {/foreach}
            {/empty}
        </ul>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{$blog.user_image ? $blog.user_image : '/public/static/img/user.png'}">
                <h3>{$blog.user_name}</h3>
            </div>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                {foreach $links as $link}
                <li><i class="uk-icon-link"></i> <a href="{$link.url}">{$link.name}</a></li>
                {/foreach}
            </ul>
        </div>
    </div>

{/block}