{extend name="base" /}

{block name="title"}日志{/block}

{block name="content"}

    <div class="uk-width-medium-3-4">
        {volist name="blogs" id="blog"}

        <article class="uk-article">
            <h2><a href="/public/?s=/blog/{$blog.id}">{$blog.title}</a></h2>
            <p class="uk-article-meta">发表于{$blog.created_at|date="Y-m-d H:i:s",###}</p>
            <p>{$blog.summary}</p>
            <p><a href="/public/?s=/blog/{$blog.id}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
        {/volist}

        <ul class="uk-pagination">
            {if condition="$page>1" }
            <li ><a href="/public/?s=/blogs/&page={$page-1}"><i class="uk-icon-angle-double-left"></i></a></li>            
            {else /}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            {/if}

            <li class="uk-active"><span >{$page}</span></li>

            {if condition="($page<$count/$page_size)"}
            <li><a href="/public/?s=/blogs/&page={$page+1}"><i class="uk-icon-angle-double-right"></i></a></li>
            {else /}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
            {/if}
        </ul>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                {foreach $links as $link}
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="{$link.url}">{$link.name}</a></li>
                {/foreach}

            </ul>
        </div>
    </div>

{/block}