{extend name='base'/}

{block name="title"}编辑日志{/block}

{block name="beforehead"}

<script>

var
    ID = '{$id ? $id : ""}',
    action = '{$action}';

function initVM(data) {
    var vm = new Vue({
        el: '#app',
        data: data,
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#app').find('form');
                if (ID) {
                    $form.putDATA(action, this.$data, function (err, r) {
                        if (err) {
                            $form.showFormError(err);
                        }
                        else {
                            return location.assign('/public/?s=/manage/links');
                        }
                    });
                } else {
                    $form.postJSON(action, this.$data, function (err, r) {
                        if (err) {
                            $form.showFormError(err);
                        }
                        else {
                            return location.assign('/public/?s=/manage/links');
                        }
                    });
                }
            }
        }
    });
    $('#app').show();
}

$(function () {
    if (ID) {
        getJSON('/public/?s=/api/links/' + ID, function (err, blog) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(blog.data);
        });
    }
    else {
        $('#loading').hide();
        initVM({
            name: '',
            url: ''
        });
    }
});

</script>

{/block}

{block name="content"}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/public/?s=/manage/comments">评论</a></li>
                <li><a href="/public/?s=/manage/blogs">日志</a></li>
                <li><a href="/public/?s=/manage/users">用户</a></li>
                <li><a href="/public/?s=/manage/links">友情链接</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="app" class="uk-width-2-3">
        <form @submit="submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">命名:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="命名" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">链接:</label>
                <div class="uk-form-controls">
                    <input v-model="url" type="url" name="url" placeholder="https://baidu.com" class="uk-width-1-1" style="resize:none;">
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/public/?s=/manage/links" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>

{/block}
