<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
  <div>
    <#if param?? && param.error??>
      Invalid username and password.
    <#elseif param?? && param.logout??>
      You have been logged out.
    </#if>
  </div>
  <form action="/login" method="post">
      <div><label> User Name: <input type="text" name="username" /> </label></div>
      <div><label> Password: <input type="password" name="password" /> </label></div>
      <input type="hidden" id="csrf_token" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <div><input type="submit" value="Sign In"></div>
  </form>
</body>
</html>